@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
ul {
  color: white;
  text-decoration: none;
  list-style: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
}

/*
header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px 50px 10px;
    font-family: "Oswald", sans-serif;
    font-style: italic;
    z-index: 1;
}*/
nav {
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background: black;
  width: 100%;
  top: 0;
}

@media (min-width: 840px) {
  nav {
    position: fixed;
  }
}

nav .logo,
nav a {
  z-index: 999;
  max-height: 80px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: 3px 3px rgba(211, 88, 17, 0.623);
}

nav .bottom-nav {
  width: 100%;
  position: fixed;
  background: black;
  color: white;
  height: 50px;
  bottom: 0;
}

@media (min-width: 1024px) {
  nav .bottom-nav {
    top: 0;
    border: none;
    background: none;
    padding-right: 10px;
  }
}

nav .bottom-nav a,
nav .bottom-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 7px;
  outline: 0;
}

@media (min-width: 1024px) {
  nav .bottom-nav a,
  nav .bottom-nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 4px 5px;
  }
}

nav .bottom-nav a:active {
  background-color: pink;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 840px) {
  main .module {
    max-width: 800px;
    margin: 0 auto;
  }
  main h1 {
    font-size: 6em;
  }
  main h2 {
    font-size: 4em;
  }
  main p {
    font-size: 1.5em;
  }
}

main h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

main .module {
  padding: 0 20px 20px;
}

main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  text-align: center;
  height: 100vh;
}

main .intro p {
  background-color: #cccccc;
  border: 2px solid black;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  font-style: normal;
  border-radius: 5px;
}

@media (min-width: 840px) {
  main .intro p {
    font-size: 4em;
  }
}

main .intro #box {
  width: 90vw;
  margin: 0 auto;
  /*-webkit-box-shadow: 15px 15px 23px -19px rgba(0, 0, 0, 0.9);
            -moz-box-shadow: 15px 15px 23px -19px rgba(0, 0, 0, 0.9);
            box-shadow: 15px 15px 23px -19px rgba(0, 0, 0, 0.9);*/
}

@media (min-width: 840px) {
  main .intro #box {
    max-width: 1200px;
  }
}

main .intro #box2 {
  width: 90vw;
  margin: 400px auto;
  background-color: #c21434;
  color: white;
  font-size: 1.7em;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  main .intro #box2 {
    padding: 25px;
    margin: 500px auto;
    width: auto;
  }
}

main .intro #box2:hover {
  background-color: #36aae4;
}

.intro:after {
  content: "";
  background: url("images/Ringebu.svg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  max-height: 100vh;
  z-index: -1;
}

.hva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36aae4), to(#0880bd));
  background-image: linear-gradient(180deg, #36aae4 0%, #0880bd 100%);
  min-height: 100vh;
}

.utstyr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0880bd), to(#9c2b21));
  background-image: linear-gradient(180deg, #0880bd 0%, #9c2b21 100%);
}

.utstyr-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  max-width: 1600px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.innhold,
#kol-1,
#kol-2,
#kol-3,
#kol-4 {
  max-width: 500px;
  min-width: 200px;
  padding: 50px;
}

.frontbilder {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#arduino {
  background-image: url(./images/arduino-transparent.png);
  -webkit-filter: drop-shadow(20px 20px 50px rgba(9, 32, 240, 0.8));
          filter: drop-shadow(20px 20px 50px rgba(9, 32, 240, 0.8));
}

#microbit {
  background-image: url(./images/microbit.png);
  -webkit-filter: drop-shadow(20px 20px 50px rgba(11, 243, 62, 0.8));
          filter: drop-shadow(20px 20px 50px rgba(11, 243, 62, 0.8));
}

#creality {
  background-image: url(./images/creality.png);
  -webkit-filter: drop-shadow(20px 20px 50px rgba(243, 11, 166, 0.8));
          filter: drop-shadow(20px 20px 50px rgba(243, 11, 166, 0.8));
}

#lego {
  background-image: url(./images/mindstorm.png);
  -webkit-filter: drop-shadow(20px 20px 50px rgba(253, 207, 0, 0.8));
          filter: drop-shadow(20px 20px 50px rgba(253, 207, 0, 0.8));
}

#snapmaker {
  background-image: url(./images/snapmaker.png);
  -webkit-filter: drop-shadow(20px 20px 50px rgba(255, 255, 255, 0.8));
          filter: drop-shadow(20px 20px 50px rgba(255, 255, 255, 0.8));
}

.hvor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#db4739), to(#df3030));
  background-image: linear-gradient(180deg, #db4739 0%, #df3030 100%);
}

#maps {
  padding: 50px 0;
}

footer {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.623);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #385592;
  color: white;
  height: 100%;
  width: 100%;
  border-top: 1px solid white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #df3030), to(#5a57f1));
  background-image: linear-gradient(180deg, #df3030 0, #5a57f1 100%);
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 50px 0;
}

@media (min-width: 840px) {
  .footer-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-size: 20px;
}

@media (min-width: 840px) {
  .footer-content {
    padding: 10px 40px;
  }
}

.footer-content a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */